@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body {
    font-family: mukta, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 32px;
    /* font-family: bitter; */
    font-family: mukta, sans-serif;
}

.hero {
    background-color: #7b33e2;
    color: white;
    height: 100vh;
    text-align: center;
    
    
    



}
h1{
    font-size: 50px;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1,
.hero p {
    width: 90%;
    max-width: 900px;
}
.navbar, .logo{
    display:  block;
    background-color: #7b33e2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
   
}
.nav1, .nv2, .nav3{
     display:  block;
    color: rgb(226, 10, 10);
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
    justify-content: center;
}
.navbar ul{
    display: inline;
    margin: 0;
    padding: 0px;
}
.navbar a{
    display: inline;
    margin: 0;
    padding: 0 16px;

}
.navbar a{
    text-decoration: none;
    color: white;
}

.infoD {
    text-align: center;
    padding-bottom: 16px;
    text-transform: capitalize;
    letter-spacing: 1.5px;

    .abcb {
        color: #ff4500;


    }

    .abcb:hover {
        color: gray;
        cursor: pointer;
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: bitter, serif;
    letter-spacing: 1.5px;

}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 15px;
}

.FPS1 {
    color: #ff4500;
}

.fps2 {
    color: #ff4500;
}

.quote {
    font-size: 13px;
    font-style: italic;
    border-left: #ff4500 2px solid;
    padding: 10px;
    margin: 32px 0 32px 32px;

}

.quote cite {
    display: block;
    font-weight: 800;
    margin-left: 15px;
}

h2 {
    font-size: 30px;
}

.Ssi {
    color: #ff4500;
}

.sid {
    color: #ff4500;
}

footer {
    background-color: #7b33e2;
}

footer ul {
    list-style: none;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    text-align: center;
    padding: 20px;




}

footer ul li {
    display: inline;
    padding: 0 16px;


}

footer li a {
    text-decoration: none;
    color: white;
}

footer li a:hover {
    text-decoration: underline;
}